*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "poppins";
  outline: none;
  border: none;
  color: #fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: linear-gradient(to bottom, #020617 0%, #141c2b 100%);
  height: 100vh;
  
 
}
body::-webkit-scrollbar{
  width: 0;
}
.header-section{
  background-color: #141c2b;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2rem 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 2.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  animation: RightSlide 1s ease forwards;
}
@keyframes RightSlide{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}
.logo span {
  color: #eab308;
}
#menu{
  font-size: 2.5rem;
  display: none;
}

.nav-bar a{
  display: inline-block;
  font-size: 1.7rem;
  text-decoration: none;
  margin: 0 2.5rem;
  letter-spacing: .02;
  font-weight: 500;
  transition: .5s ease;
  transform: translateY(-100px);
  opacity: 0;
  animation: TopSlide 1s ease forwards;
  animation-delay: calc(.2s * var(--vlr));

}
@keyframes TopSlide{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
.nav-bar a:hover,a.active{
  color: #eab308;
}

section{
  padding: 10rem 9% 2rem;
  min-height: 100vh;
}
.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-content{
  max-width: 70rem;
}
.text-content h1{
  font-size: 5rem;
  text-transform: capitalize;
  transform: translateY(-100px);
  opacity: 0;
  animation: RightSlide 1s ease forwards;
  animation-delay: 1s;

 

}

h1 #capital{
  font-size: 5.2rem;
  color: #eab308;
  letter-spacing: .07rem;
  font-weight: 600;
 
}
.text-animation{
  position: relative;
  width: 32.8rem;
}
.text-animation h2{
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px #eab308;
  background:linear-gradient(#eab308,#eab308);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  transform: translateY(-100px);
  opacity: 0;
  animation: textSlide 6s linear infinite,TopSlide 1s ease forwards;
  animation-delay: 2s, 1.2s;

}
@keyframes textSlide{
  0%,10%,100%{
    background-position: -33rem 0;
  }
  65%,85%{
    background-position: 0 0;
  }
}
.text-animation::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 0;
  border-right: 2px solid #eab308;
  transform: translateY(-100px);
  opacity: 0;
  animation: cursorSlide 6s linear infinite,TopSlide 1s ease forwards;
  animation-delay: 2s;
}
@keyframes cursorSlide{
  0%,10%,100%{
    width: 0;
  }
  65%,78%,85%{
    opacity: 0;
    width: 100%;
  }
  75%,81%{
    opacity: 0;
  }
}

.text-content p{
font-size: 3rem;
margin: 1rem 0;
letter-spacing: .3rem;
transform: translateX(-100px);
opacity: 0;
animation: LeftSlide 1s ease forwards;
animation-delay: 1.4s;

}
@keyframes LeftSlide{
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
  }


.text-animation p ,span{
  font-size: 4rem;
  text-transform: uppercase;
  
}

.btn-section{
  width: 32.5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

}
.btn-section #whatsappIcon{
  color: #25D366;
}

.btn-section .btn{
  height: 100%;
  width: 15rem;
  color: #fff;
  background: rgb(255, 255, 255,.1);
  border: 0.1rem solid rgb(255, 255, 255, .5);
  border-radius: .8rem;
  backdrop-filter: blur(5rem);
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: none;
}
.btn i{
  font-size: 2rem;
  font-weight: 600;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 300%;
  width: 100%;
  background:linear-gradient(#020617,#eab308,#020617,#eab308) ;
  z-index: -1;
  transition: .5s ease;
  animation: Slide 1s ease forwards;
  animation-delay: 1.6s;

}


@keyframes Slide {
  0%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}
.btn:hover::before{
  top: 0;
}
.social-media{
  margin: 2rem 0;
}
.social-media i{
  display: inline-block;
  font-size: 2.2rem;
  background: rgb(255, 255, 255,.1);
  border: .2rem solid rgba(255, 255, 255, .3);
  padding: 1rem;
  margin: 0.8rem;
  bottom: 9rem;
  border-radius: 50%;
  cursor: pointer;
  color: #ffff;
  position: relative;
  overflow: hidden;
  animation: Bottom 1s ease forwards;
  transform: translateY(100px);
  opacity: 0;
  animation-delay: calc(.2s * var(--vlr));

}
@keyframes Bottom {
0%{
transform: translateY(100px);
opacity: 0;
}  
100%{
  transform: translateY(100px);
opacity: 1;
}
}
.social-media i::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 300%;
  width: 100%;
  background:linear-gradient(#020617,#eab308,#020617,#eab308) ;
  z-index: -1;
  transition: .5s ease;
}
i:hover::after{
  top: 0;
}

.home img{
  width: 33vw;
  height: 70vh;
  background: rgb(255, 255, 255,.1);
  border: .2rem solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  filter: drop-shadow(0 0 8rem #eab308);
  animation: scale 1s ease forwards;
scale: 0;
animation-delay: 2s;

}
@keyframes scale {
0%{
  scale: 0;
}  
100%{
  scale: 1
}
}
/*about section which is second page*/

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 6rem;
  gap: 2rem;
  
}
.title{
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #fff;
}
.title #Me-1{
  text-transform: capitalize;

}
.about img{
  height: 25rem;
width: 25rem;
background: rgb(255, 255, 255,.1);
border: .2rem solid rgba(255, 255, 255, .3);
border-radius: 50%;
filter: drop-shadow(0 0 8rem #eab308);

}
#html{
  font-size: 2rem;
}
#css{
  font-size: 2rem;
}
.text-content2{
  text-align: center;
}
.text-content2 h2{
  font-size: 2.6rem;

}
.text-content2 p{
  font-size: 2rem;
  letter-spacing: .2rem;
  margin: 2rem 0 3rem;
}
/* skills section */
.single-skill .topic{
  text-transform: capitalize;
  font-size: 2rem;
}
.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  
}
.skill-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.skill-content {
  width: 100%;
  flex: 1 1 30rem;


}
.skill-box{
  height: 100%;
  width: 100%;
  padding: 4rem 4rem;
  background: rgba(255, 255, 255, .1);
  border-radius: 1rem;

}
.single-skill img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
}
.single-skill{
  display: flex;
  justify-content: space-between;
  
  margin: 2rem 0;
}
.bar-side{
  background: #111;
  height: 1rem;
  border-radius: 50rem;
  position: relative;
  overflow: hidden;
}
.bar{
  position: absolute;
  height: 100%;
  background: #eab308;
  border-radius: 50rem;
}
.bar-1{
width: 90%;
}
.bar-2{
  width: 85%;
}
.bar-3{
  width: 70%;
}
.bar-4{
  width: 85%;
}
.bar-5{
  width: 70%;
}
/*project section*/ 
.project-section{
  display: flex;
  
  justify-content: center;
  height: 100%;


}
.project-card{
  margin: 1.5rem;
  padding: 1.2rem;
  border: .06rem solid #eab308;
  border-radius: 0.6rem;
  text-align: center;
  max-width: 350px;
  height: 360px; 
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 500;
  background: rgba(255, 255, 255, .1);
  filter: drop-shadow(0 0 8rem #eab308);

}
.project-card img{
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}
.project-section h3{
  font-size: 3.5rem;
  margin-bottom: 10px;
  margin-left: -120px;
  color: #fff;
  
}
h3 ,#project{
  font-size: 3.5rem;
  color: #eab308;

}

/*contact section ******************/
section form{
  max-width: 70rem;
  text-align: center;
  margin: 1rem auto;
  margin-bottom: 3rem;
  
  
}
.contact #contact-me{
  text-transform: capitalize;
  color: #eab308;
  
}
.input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
input,textarea{
  width: 100%;
  padding: 1.5rem;
  background: rgba(255, 255, 255, .1);
  border: .2rem solid rgba(255, 255, 255, .1);
  outline: none;
  backdrop-filter: blur(10px);
  filter: drop-shadow(0 0 100px #eab308);
  border-radius: .8rem;
  gap: 2.5rem ;
  margin: .7rem 0;
  transition: .3s ease;

}
input::placeholder{
  font-size: 1.5rem;
  letter-spacing: .02rem;

}
.input-box input{
  width: 49%;
}
input:focus,
input:valid{
  border: .2rem solid #eab308;
}
textarea:focus,
textarea:valid{
  border: .2rem solid #eab308;
}
textarea{
  resize: none;
}
.contact .btn{
margin-top: 2rem;
max-width: fit-content;
cursor: pointer;
filter: none;
border: .2rem solid rgba(255, 255, 255, .3);
}
.contact .btn:hover{
  background: #eab308;
  box-shadow: 0 0 .3 #eab308,
  0 0 .7rem #eab308;

}
#success-msg{
  text-transform: capitalize;
  color: #eab308;
  margin-left: 49%;
  text-align: center;
  font-size: 2rem;
}
/*footer section */
footer{
  background:rgba(255, 255, 255, .3);
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
footer p{
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: .2rem;

}
footer i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: #eab308;
  border-radius: 50%;
  font-size: 2rem;
}

/* Responsive  */

@media (max-width:1200px) {
  html{
    font-size: 50;
  }
}
@media (max-width:991px) {
  .header{
    padding: 1.5rem 9%;
  }
  section{
    padding: 10rem 3% 2rem;
  }
  .contact{
    min-height: auto;
  }
  footer{
    padding: 2rem 3%;

  }
}
@media (max-width:768px){
  #menu{
    display: block;
  }
  .nav-bar{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 1rem 3%;
    background: #0f0a0a;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: .2rem solid rgba(255, 255, 255, .1);
    display: none;
  }
  .nav-bar.active{
    display: block;
  }
  .nav-bar a{
    display: block;
    margin: 3rem 0;
    font-size: 2rem;
  }
  .home{
    flex-direction: column-reverse;

  }
  .home .text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home .text-content h1{
    font-size: 4rem;

  }
  .home img{
    width: 60vw;
  
  }
  .about{
    flex-direction: column;

  }
  .about img{
    width: 40rem;
    height: 40rem;
  }
  .skill-box{
    width: 100%;
    height: 50%;
    padding-top: 2rem;
    margin-top: 5rem;
  }
  .skill-title{
    text-align: center;
  position: relative;
  bottom: -5.3rem;
  }
  .project{
    text-align: center;
  }
}
@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .input-box input{
    width: 100%;
  }
  .home img{
    width: 90vw;
  height: 45vh
  }
  .text-content h1{
    text-align: center;
  }
  .text-content p{
    text-align: center;
  }
  .text-content2 p{
    font-size: 3.4rem;
    padding: 2rem;
  }
  .text-content2 h2{
    font-size: 3.8rem;
    margin-bottom: 2rem;
    
  }
 
  
}


/* Add this at the end of your existing CSS */

@media screen and (max-width: 768px) {
  .project-section {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
  
    margin: 1.5rem 0;
    flex-wrap: wrap;
  }

  section form {
    max-width: 100%;
  }
  .contact {
    margin-top: 20rem;
  }
}
